.author {
    margin-top: 1rem;
    text-align: center;

    &-avatar {
        margin-bottom: 1rem;
        margin-top   : 1rem;
    }

    &-introduction {
        font-size    : .8rem;
        color        : #999;
        margin-bottom: 1rem;
    }
}

.account {
    background-color: #999;
    margin-left     : .5rem;
    margin-right    : .5rem;
}