.author {
    // margin-top: 1rem;
    text-align   : center;

    &-avatar {
        margin-bottom: 1rem;
        margin-top   : 1rem;
    }

    &-introduction {
        font-size    : .8rem;
        color        : #999;
        margin-bottom: 1rem;
    }
}