.header {
    height          : 4rem;
    background-color: #fff;
    border-bottom   : 1px solid #ccc;
    line-height     : 4rem;
    position        : fixed;
    top             : 0;
    width           : 100%;
    z-index         : 200;


    &-logo {
        font-size : 1.4rem;
        text-align: left;
    }

    &-text {
        color: #ccc;
    }
}

.ant-menu-horizontal {
    border-bottom: none;
}