body {
    background-color: #f4f5f5 !important;
}

.common-left {
    background-color: #FFF;
    padding         : .3rem;
    border-radius   : .3rem;
    border          : 1px solid #eee;
}

.common-main {
    margin-top: .5rem;
}

.common-box {
    background-color: #FFF;
    margin-left     : .5rem;
    padding         : .3rem;
    border-radius   : .3rem;
    border          : 1px solid #eee;
}

pre {
    display         : block;
    background-color: #f8f8f8 !important;
    padding         : .5rem !important;
    overflow-y      : auto;
    font-weight     : 300;
    font-family     : Menlo, monospace;
    border-radius   : .3rem;
}

.ant-menu-horizontal {
    border-bottom: none;
}