body {
    background-color: #f4f5f5 !important;
}

.common-left {
    background-color: #FFF;
    padding         : .3rem;
    border-radius   : .3rem;
    border          : 1px solid #eee;
}

.common-main {
    margin-top: .5rem;
}

.common-box {
    background-color: #FFF;
    margin-left     : .5rem;
    padding         : .3rem;
    box-shadow      : 0 0 1rem rgba(161, 177, 204, .4);
    border-radius   : 1rem;
    border          : 1px solid #eee;
}



.ant-menu-horizontal {
    border-bottom: none;
}