@import url("./theme.less");

.home {
    margin-top: 4.5rem;

    .block {
        margin-bottom   : 1rem;
        box-shadow      : 0 0 1rem rgba(161, 177, 204, .4);
        border-radius   : 1rem;
        background-color: var(--bgColor);
        min-height      : 4rem;
        padding         : 1rem;
        border          : 1px solid var(--borderColor);

        &-title {
            height       : 2rem;
            line-height  : 2rem;
            font-size    : 25px;
            font-weight  : bold;
            color        : var(--themeColor);
            overflow     : hidden;
            text-overflow: ellipsis;
            white-space  : nowrap;
        }

        &-tag {
            display    : flex;
            align-items: center;
            margin     : .5rem 0;
            color      : var(--textColor);

            &-icon {
                margin-right: .2rem;
            }

            &>div {
                margin-right: .5rem;
            }
        }

        &-page {
            text-align      : right;
            background-color: var(--bgColor);
            padding         : 1rem 0;
            border-radius   : 1rem;
        }

    }
}